#container{
    height: 82.8vh;
    width: 100vw;

    display: flex;
    
    justify-content: center;
    align-items: center;
}

#container .globo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}

#container .globo img{
    width: 40rem;
    
}

#container .globo + section{
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin-left: 4rem;
}