.footer-container{
    width: 100vw;
    height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-green-color)
}

.footer-container p{
    color: white;
    font-size: 1.4rem;
}

.footer-container p a{
    font-weight: 700;
    color: white;
}