<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/assets/images/logo.svg">

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/container.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <title>GeoGame</title>
</head>
<body>
    <header class="menu-container">
        <nav id="menu">
            <a href="/" class="menu-logo">
                <img src="/assets/images/logo.svg" alt="GeoGame">
            </a>
            <div class="menu-link">
                <a href="/sobre-nos" class="button-effect">Sobre nós</a>
            </div>
        </nav>
    </header>
    <main id="container">
        <section class="globo">
            <img src="/assets/images/globo.png" alt="Globo">
        </section>
        <section class="details">
            <h2>
                Teste seu conhecimento em coordenadas geográficas de um jeito bem divertido!
            </h2>
            <p>
                As Coordenadas Geográficas são uma maneira fácil e rápida de localizar pontos, lugares e fenômenos na superfície da Terra.
            </p>
            <a href="/name">
                <img src="/assets/images/play.svg" alt="Jogar">
                <span>Jogar</span>
            </a>
        </section>
    </main>
    <footer class="footer-container">
        <p>Inspirado no <a href="http://www.geografia7.com/jogo-das-coordenadas-geograacuteficas.html" target="_blank">Jogo das Coordenadas Geográficas</a> elaborado por Eduardo Medeiros </p>
    </footer>
</body>
</html>